<html>
   <head>
      <style>
         body {
            background-color: black;
         }
         h1 {
            color: white;
            text-align: center;
            margin: auto;
         }
         p {
            color: white;
         }
      </style>
   </head>   

   <body>
      <form action = "http://localhost:5000/api/teacher/tests/results/query/edit/submit" method = "post">
         <p>Enter uid:</p>
         <p><input type = "text" name = "uid" /></p>
         <p>Enter testid:</p>
         <p><input type = "text" name = "testid" /></p>
         <p>Enter grade:</p>
         <p><input type = "text" name = "grade" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html>